{% load  static %}  

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="{% static 'mdeditor/css/editormd.min.css' %}" rel="stylesheet">
    <link href="{% static 'mdeditor/css/editormd.preview.css' %}" rel="stylesheet">



    <link rel="stylesheet" href="{% static "css/style.css" %} ">
    <link rel="stylesheet" href="{% static "css/style.min.css" %}"> 
    <link rel="stylesheet" href="{% static "css/animation.css" %} ">
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Blog</title>
</head>

<div class="bg-gray-800 px-5" >
    <header class="container mx-auto text-white pt-5 md:pt-0" >
        <div class="md:flex justify-between items-center">
            <h1 class="header-title text-2xl font-semibold md:text-4xl">
                <a class="block typing hover:scale-110 " href="{% url "index"%}">SDIProgrammerBlog</a>
            </h1>
            <div class="md:block">
                <ul class=" flex justify-start my-4 md: justify-end">
                        <li><a class="text-xs block hover:bg-gray-700 md: px-5 py-2   text-base"href="{% url "index" %}">ホーム</a></li>
                    {% if user.is_authenticated %}   
                        <li ><a class="text-xs block   hover:bg-gray-700 md:  px-5 py-2  text-base"href="{% url "create_new" %}">投稿</a></li>
                        <li ><a class="text-xs block  hover:bg-gray-700 md: px-5 py-2   text-base"href="{% url "account_logout"%}">ログアウト</a></li>
                    {% else %}
                        <li ><a class="text-xs block hover:bg-gray-700 md:  px-5 py-2  text-base"href="{% url "contact" %}">お問い合わせ</a></li>
                    {% endif %}

                   
    
                </ul>
            </div>
        </div>
    </header>
</div>


<body class="bg-gray-100 w-full h-full" >
    <main　class="">
        <div class="container mx-auto  mt-0 md:grid grid-cols-4 gap-4 md:mt-10">
            
            <div  class="col-span-3 w-full mx-2">
                {% block content %}
                {% endblock %}
                
                {% block pagenator %}
                {% endblock pagenator %}   
               
            </div>
            
            <div class="w-full m-0  pt-5 md: inline-block md:ml-5 md:pt-0 ">

               
                <div class="mb-5 border-solid border-gray-300 border-2 bg-white" >
                    <h1 class="text-2xl text-center  font-serif  text-white bg-gray-700">サイト内検索</h1>
                    <hr>
                    
                    <form class="flex"action="{% url "search" %}" method="get">
                        <input class="w-full" type="text" name="keyword" placeholder="ブログ内を検索する">
                        <button class="w-1/6 bg-blue-500  p-1 rounded text-white" type="submit">検索</button>
                    </form>
                </div>
               
                    {% comment %} {% block sildebar %}
                    {% endblock  %} {% endcomment %}
                <ul class="bg-white mb-5">
                    <h1 class="text-2xl text-center text-white font-serif bg-green-500 block ">最近の投稿</h1>
                    {% for latest in latest_data %}
                        <li><a href="{% url "post_detail" latest.id %}" class="block text-left bg-white text-gray-500 p-3 mb-1 hover:scale-110 hover:text-black">{{ latest.title }}</a></li>
                        <hr>
                    {% endfor %}
                </ul>

                

                <div class="mb-5">
                    <h1 class="text-2xl text-center  font-serif bg-red-400 text-white">カテゴリ</h1>
                    <ul class="bg-white mb-5">
                        {% for category in category_data %}
                            <li><a href="{% url "category" category %}" class="block  bg-white text-gray-500 p-3 mb-1 hover:scale-110 hover:text-black">{{ category.name }}</a></li>
                            <hr>
                        {% endfor %}
                    </ul>
                </div>
                <div class="bg-white m-auto mb-5 py-3 mb-3 w-full md:py-0 md: m-0">
                    <div class="flex md:inline-block">
                        <img class="rounded w-2/5 mx-3 md:mx-0 md:w-full" src="{% static "images/img3.jpg" %}" height="80%" %>
                        <div class="">
                            <h1 class="bg-blue-500 text-2xl text-center text-white font-serif">SDI</h1>
                            <p class="text-sm m-3">プロフィールプロフィールプロフィールプロフィールプロフィールプロフィールプロフィールプロフィールプロフィールプロフィールプロフィール</p>
                        </div>
                        
                    </div>
                </div>
                <h1 class="text-2xl text-gray-700 text-center font-serif md:ml-2">Link</h1>
                <ul class=" mb-3 text-white text-center mx-20  md:mx-10">

                    <li><a href="https://twitter.com/sdi2025" class="block  text-white-500 bg-blue-400 rounded p-3 mb-1  hover:scale-110 hover:bg-blue-300">Twitter</a></li>
                    <hr>
                    <li><a href="https://qiita.com/sdi2025" class="block  text-white-500 bg-green-500 rounded p-3 mb-1  hover:scale-110 hover:bg-green-400 ">Qiita</a></li>
                    <hr>
                    <li><a href="" class="block  text-white-500 bg-red-400 rounded p-3 mb-1  hover:scale-110 hover:bg-red-300">Comming Soon</a></li>
                    <hr>
                </ul>   

            </div>
        </div>

    </main>



          




    <footer class="absolute w-full py-2 bg-gray-500 text-white">
        <p class="m-0 text-center"> Copyright　© 2022 SDI </p>
    </footer>





    <script src="{% static 'mdeditor/js/jquery.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/editormd.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/marked.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/prettify.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/raphael.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/underscore.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/sequence-diagram.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/flowchart.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/jquery.flowchart.min.js' %}"></script>

  <script>
    $(function () {
        editormd.markdownToHTML("content", {
            emoji           : true,
            taskList        : true,
            tex             : true, 
            flowChart       : true,
            sequenceDiagram : true,
        });
        $(".reference-link").each(function (i,obj) {
          console.log(obj)
        })
    })
  </script>
  
</body>

</html>

