{% load  static %}  

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="{% static 'mdeditor/css/editormd.min.css' %}" rel="stylesheet">
    <link href="{% static 'mdeditor/css/editormd.preview.css' %}" rel="stylesheet">

    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="{% static "css/style.css" %} ">
    <link rel="stylesheet" href="{% static "css/style.min.css" %}">
  
    <link rel="stylesheet" href="{% static "css/base.css" %} ">
    <title>Blog</title>
</head>
<div class="bg-gray-800 px-5">
   
    <header class="container mx-auto text-white" >

        <div class="md:flex justify-between items-center">
            <h1 class="text-2xl font-semibold md:text-4xl">
                <a class="block" href="{% url "index"%}">エンジニアブログ</a>
            </h1>
            <div class="md:block">
                <ul class=" flex justify-start my-4 md: justify-end">
                        <li><a class="text-xs block hover:bg-gray-700 md: px-8 py-2   text-base"href="{% url "index" %}">Home</a></li>
                    {% if user.is_authenticated %}   
                        <li ><a class="text-xs block   hover:bg-gray-700 md:  px-8 py-2  text-base"href="{% url "create_new" %}">Post</a></li>
                        <li ><a class="text-xs block  hover:bg-gray-700 md: px-8 py-2   text-base"href="{% url "account_logout"%}">Logout</a></li>
                    {% else %}
                        <li ><a class="text-xs block hover:bg-gray-700 md:  px-8 py-2  text-base"href="{% url "account_login" %}">Login</a></li>
                    {% endif %}
    
                </ul>
            </div>
        </div>
    </header>
</div>


<body>
    <main >
        <div class="container mx-auto mt-0 md:grid grid-cols-4 gap-4 md:mt-10">

            <div  class="col-span-3 w-full">
                {% block content %}
                {% endblock  %}
            </div>
            
            <div class="w-full m-0 mt-10 md: inline-block md:ml-5 md:mt-0 ">

                <ul class=" bg-white mb-3 w-full">
                    <h1 class=" ml-2 text-2xl  text-center text-gray-700 font-serif">SDI</h1>
                   
                </ul>
               
                {% block sildebar %}
                {% endblock  %}

                <h1 class="text-2xl text-gray-700 text-center font-serif md:ml-2">Link</h1>
                <ul class=" mb-3 text-white text-center mx-20  md:mx-10">
                  
                    <li><a href="" class="block  text-white-500 bg-blue-400 rounded p-3 mb-1  hover:scale-110 hover:bg-blue-300">Twitter</a></li>
                    <hr>
                    <li><a href="" class="block  text-white-500 bg-green-500 rounded p-3 mb-1  hover:scale-110 hover:bg-green-400 ">Qiita</a></li>
                    <hr>
                    <li><a href="" class="block  text-white-500 bg-red-400 rounded p-3 mb-1  hover:scale-110 hover:bg-red-300">My App</a></li>
                    <hr>
                </ul>   
            </div>
        </div>
       
    </main>





    <footer class="py-2 bg-gray-500 text-white">
        <h1 class="hidden md:inline-block text-3xl font-bold">エンジニアブログ</h1>
        <div class="container mx-auto">
            <ul class="flex justify-center text-sm" >
                <li><a href="#" class=" px-2 md:px-5 ">ブログについて</a></li>
                <li><a href="#" class="px-2 md:px-5 ">カテゴリ一覧</a></li>
                <li><a href="#" class="px-2 md:px-5 ">Twitter</a></li>
                <li><a href="#" class="px-2 md:px-5 ">Qiita</a></li>
                <li><a href="#" class="px-2 md:px-5 ">MyApp</a></li>
            </ul>
        </div>
        <p class="m-0 text-center md:my-5"> Copyright</p>
    </footer>





    <script src="{% static 'mdeditor/js/jquery.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/editormd.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/marked.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/prettify.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/raphael.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/underscore.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/sequence-diagram.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/flowchart.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/jquery.flowchart.min.js' %}"></script>

  <script>
    $(function () {
        editormd.markdownToHTML("content", {
            emoji           : true,
            taskList        : true,
            tex             : true, 
            flowChart       : true,
            sequenceDiagram : true,
        });
        $(".reference-link").each(function (i,obj) {
          console.log(obj)
        })
    })
  </script>
  
</body>

</html>

