{% extends 'app/post_base.html' %}

{% block content %}
    

      
       

        <div class=" mx-auto max-w-sm rounded overflow-hidden shadow-lg ">
            
            <div class="px-6 py-4 text-center">
                <h2 class="t">投稿を削除してもよろしいですか?</h2>
                <hr>
                <p class="my-3"> {{ post_data.title }}</p>
            </div>
            <div class="px-6 pb-5 ">
                <form method="post">
                    {% csrf_token %}
                    <button class="bg-red-500 text-white p-3 rounded　inline-block w-full">削除する</button>
                </form>
               
            </div>
          </div>

    
{% endblock content %}